body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

nav{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;

  flex: 2;
}
#icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 3;
}
