h1{

}

h2{

}

#whatsrupp{
  display: flex;
  align-items: center;
  justify-content: center;
}

#whats{
  width: 150px;
  text-align: right;
}
#whats:hover span {
  display:none;

}
#whats:hover:before {content:"NICK";
color: #222036 ;
}


nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 20%;
}

/*Tablets*/
@media screen and (max-width: 768px){
  nav{
    flex-direction: column;
    }
  h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*Mobiles*/
@media screen and (max-width: 480px){

}
