extends layout

block content
  div#icon-container
    div#photography.index-div
      a(href='/photography')
        img(src='/images/Photography.png')

    div#design.index-div
      a(href='/design')
        img(src='/images/Design.png')

    div#modelling.index-div
      a(href='/modelling')
        img(src='/images/Modelling.png')

    div#coding.index-div
      a(href='/coding')
        img(src='/images/Coding.png')

    div#engineering.index-div
      a(href='/engineering')
        img(src='/images/Engineering.png')

    div#writing.index-div
      a(href='/writing')
        img(src='/images/Writing.png')
