extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/photography')
    img(src='/images/Photography.png')

  a(href='/design')
    img(src='/images/Design.png')

  a(href='/modelling')
    img(src='/images/Modelling.png')

  a(href='/coding')
    img(src='/images/Coding.png')

  a(href='/engineering')
    img(src='/images/Engineering.png')

  a(href='/writing')
    img(src='/images/Writing.png')
