<!-- /design/index -->

<link href="/stylesheets/design/navbar.css" rel="stylesheet">
<link href="/stylesheets/design/layout.css" rel="stylesheet">

<nav>
  <div id='whatsrupp'>
    <h1 id='whats' class='noselect'><span class='label'>WHATS</span></h1>
    <h1 id='rupp' class='noselect'><span >RUPP</span></h1>
  </div>
  <h2 class='noselect'>design</h2>
</nav>

<img  src="/images/design/impeller.jpg">
