<!-- /design/index -->

<link href="/stylesheets/design/navbar.css" rel="stylesheet">
<link href="/stylesheets/design/layout.css" rel="stylesheet">
<link href="/stylesheets/design/gallery.css" rel="stylesheet">
<link href="/stylesheets/design/theme.css" rel="stylesheet">

<nav>
  <div id='whatsrupp'>
    <h1 id='whats' class='noselect'><span class='label'>WHATS</span></h1>
    <h1 id='rupp' class='noselect'><span >RUPP</span></h1>
  </div>
  <h2 class='noselect'>design</h2>
</nav>

<div class='gallery'>
  <div class='gallery-image'>
    <img class='design-image' src="/images/design/impeller.jpg">
    <div class='inner-shadow'></div>
      <div class='hover-shadow'></div>
  </div>

  <div class='gallery-description'>
    <p>
      A perspective drawing made for a university module to show understanding of
      materials, assembly methods and mechanical processes.
    </p>
  </div>
</div>
