#icon-container{
  width:80%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
#photography{
  background-color: #F7C331;
}
#modelling{
  background-color: #F7882F
}
#design{
  background-color: #F7882F;
}
#coding{
  background-color: #DCC7AA;
}
#writing{
  background-color: #F7882F;
}
#engineering{
  background-color: #F7C331;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
  #icon-container{
    flex-direction: row;
  }
}
/*#6B7A8F
#F7882F
#F7C331
#DCC7AA*/

.index-div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

html,body{
  width:100%;
  height:100%;
  background-color: #6B7A8F;
}


/*block content
  div#icon-container
    div#photography.index-div
      a(href='/photography')
        img(src='/images/Photography.png')

    div#design.index-div
      a(href='/design')
        img(src='/images/Design.png')

    div#modelling.index-div
      a(href='/modelling')
        img(src='/images/Modelling.png')

    div#coding.index-div
      a(href='/coding')
        img(src='/images/Coding.png')

    div#engineering.index-div
      a(href='/engineering')
        img(src='/images/Engineering.png')

    div#writing.index-div
      a(href='/writing')
        img(src='/images/Writing.png')*/
