nav{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

#whatsrupp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#whats{
  width: 150px;
  text-align: right;
  margin-right: 8px;
}
#whats:hover span {
  display:none;

}
#whats:hover:before {content:"NICK";
color: #70d1aa ;
}

/*Tablets*/
@media screen and (max-width: 768px){
  nav{
    flex-direction: column;

    justify-content: center;
    align-items:flex-end;
    }
  h1,h2{
    margin-top:0 ;
    margin-bottom: 0 ;
  }

  #whatsrupp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

}

/*Mobiles*/
@media screen and (max-width: 480px){

}
