h1{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 40px;
}

h2{
  font-family: 'Bitter', sans-serif;
  color: #70d1aa;
}
h3{
  font-family: 'Bitter', serif;
  color:#70d1aa;
}
