<link href="/stylesheets/index.css" rel="stylesheet">
<nav>
  <div id='whatsrupp'>
    <h1 id='whats' class='noselect'><span class='label'>WHATS</span></h1>
    <h1 id='rupp' class='noselect'><span >RUPP</span></h1>
  </div>
  <h2>portfolio</h2>
</nav>

<div id='icons'>

</div>
