<link href="/stylesheets/index.css" rel="stylesheet">
<link href="/stylesheets/navbar.css" rel="stylesheet">
<link href="/stylesheets/icons.css" rel="stylesheet">

<nav>
  <div id='whatsrupp'>
    <h1 id='whats' class='noselect'><span class='label'>WHATS</span></h1>
    <h1 id='rupp' class='noselect'><span >RUPP</span></h1>
  </div>
  <h2 class='noselect'>portfolio</h2>
</nav>

<div id='icons'>

  <div class='image-holder'>
    <a href='https://medium.com/@nickrupp95'>
      <object class='icon' id='icon1' data="/images/SVGs/pen.svg" type="image/svg+xml">
        <img id='icon1'src="/images/Writing.png">
      </object>
    </a>
    <h3>Writing</h3>
  </div>

  <div class='image-holder'>
    <a href='#'>
      <object class='icon' id='icon2' data="/images/SVGs/wrench.svg" type="image/svg+xml">
        <img  src="/images/Engineering.png">
      </object>
    </a>
    <h3>Engineering</h3>
  </div>

  <div class='image-holder'>
    <a href='https://github.com/whatsrupp'>
      <object class='icon' id='icon3' data="/images/SVGs/coding.svg" type="image/svg+xml">
        <img id='icon3'src="/images/Coding.png">
      </object>
    </a>
    <h3>Coding</h3>
  </div>

  <div class='image-holder'>
    <a href='#'>
      <object class='icon' id='icon4' data="/images/SVGs/palette.svg" type="image/svg+xml">
        <img id='icon4'src="/images/Design.png">
      </object>
    </a>
    <h3>Design</h3>
  </div>

  <div class='image-holder'>
    <a href='https://www.instagram.com/nick.rupp/?hl=en'>
      <object class='icon' id='icon5' data="/images/SVGs/aperture.svg" type="image/svg+xml">
        <img id='icon5' src="/images/Modelling.png">
      </object>
    </a>
    <h3>Photography</h3>
  </div>

  <div class='image-holder'>
    <a href='https://www.instagram.com/whatsrupp/?hl=en'>
      <object class='icon' id='icon6' data="/images/SVGs/model.svg" type="image/svg+xml">
        <img id='icon6'src="/images/Photography.png">
      </object>
    </a>
    <h3>Modelling</h3>
  </div>
</div>
