<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>App Name Here</title>

    <!-- Stylesheets Here -->
    <link href="/stylesheets/index.css" rel="stylesheet">
    <!-- Favicon link up here -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  </head>

  <body >
    <%= yield %>
  </body>
</html>
