<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Whatsrupp</title>
    <meta name='viewport' content="width=device-width">

    <!-- Stylesheets Here -->
    <link href="/stylesheets/base_styling.css" rel="stylesheet">
    <!-- Favicon link up here -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat" rel="stylesheet">

  </head>

  <body >
    <%= yield %>
  </body>
</html>
